<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OyunProje.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OyunProje.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OyunProje.Properties.Settings>
            <setting name="Sure" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="HedefBoyutu" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="HedefSayisi" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="HedefRenk" serializeAs="String">
                <value>0, 192, 0</value>
            </setting>
        </OyunProje.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <OyunProje.Properties.Settings>
            <setting name="MaxSure" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="MinSure" serializeAs="String">
                <value>100</value>
            </setting>
        </OyunProje.Properties.Settings>
    </applicationSettings>
</configuration>